.App-Logo {
  animation: App-logo-spin infinite 5s linear;
  width: 100px;
  margin-left: -57.4px;
  margin-right: -45px;
  margin-top: 10px;
  padding-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 2px;
  background-color: aliceblue;
}

.centered {
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 63px;
  padding-bottom: 20px;
  background-color: aliceblue;
}

.interests {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 30px;
}

.interests img {
  float: left;
  width: 400px;
  margin-left: -400px;
}

.socials {
  background-color: rgb(245, 244, 244);
  align-items: center;
  text-align: center;
  padding-top: 70px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 30px;
}

.PicList {
  margin-top: 15px;
  width: 130px;
  margin-left: 20px;
  margin-right: 10px;
}
